<div class="" style="font-size: 16px">
	<p>Welcome <%= @resource.username %>!</p>
	<div style="">
		Someone has requested a link to change your password. You can do this through the link below.
	<div>
	<div style="margin-top: 20px;margin-bottom: 20px;">
		<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: 'background: #15c;color: white;padding: 8px 16px;border-radius: 6px;font-size: 16px;text-decoration: none;font-weight:bold;' %>
	</div>
	<div>
		If you didn't request this, please ignore this email.
	</div>
	<div>
		Your password won't change until you access the link above and create a new one.
	</div>
	<div>
		(Please don't reply at this mail.)
	</div>
	<div style="margin-top: 40px;">
		<div style="font-weight: bold;">From,</div>
		<div>BrijRas.com</div>
	</div>
</div>
